body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
/*--header--*/
.link {
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #212121;
}

.link:hover,
.link:focus {
  color: #2196f3;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
}

.logo-font-accent {
  color: #2196f3;
}
.logo-font-second {
  color: #000000;
}

.link-mail,
.link-tel {
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #757575;
}

.link-mail:hover,
.link-tel:hover,
.link-mail:focus,
.link-tel:focus {
  color: #2196f3;
}

/*--main--*/

.header-main {
  font-weight: 900;
  font-size: 44px;
}

.index-button:hover {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #2196f3;
}

.header-main {
  font-weight: 900;
  font-size: 44px;
}

.third-header {
  font-weight: 700;
  font-size: 14px;
}

.post {
  font-size: 14px;

  color: #757575;
}

.second-header {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
}

.profesion {
  font-size: 16px;
  color: #757575;
}
/*-----footer--*/
.logo-font-dark {
  color: #212121;
}

.address,
.mail,
.tel {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.address:hover,
.mail:hover,
.tel:hover,
.address:focus,
.mail:focus,
.tel:focus {
  color: #2196f3;
}

/*---portfolio---*/

.portfolio-button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
}

.photo .title {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
